.banner{
    position: relative;height: 40vh;
    video{
        width: 100%;height: 100%;object-fit: cover;
    }
   h1{
       width: 100vw;height: 100%;top: 0;left: 0;text-align: center;background-color: transparentize($color: #000000, $amount: .5);padding-top: 30%;
       position: absolute;color: #fff;font-size: 40px;width: 100%;text-transform: capitalize;
       span{
           color: #FECC18;
       }
   }
}


@media screen and (min-width:768px) {
    .banner{
        height: 50vh;
        h1{
            font-size: 50px;
        }
    }
}


@media screen and (min-width:1024px) {
    .banner{
        height: 70vh;
        h1{
            font-size: 60px;
        }
    }
}

@media screen and (min-width:1200px) {
    .banner{
        height: 90vh;
        h1{
          font-size: 90px;
        }
    }
}