.contact{
    h2{
        text-align: center;font-size: 30px;text-transform: capitalize;
        span{
            color: #FECC18;
        }
    }
    .container{
        .col-md-6{
            .img{
                height: 50vh;
                img{width: 100%;height: 100%;object-fit: contain;}
            }
            .inner2{
              
                h3{
                    font-size: 25px;padding-bottom: 20px;text-transform: capitalize;text-align: center;
                }
                p{
                    padding-bottom: 20px;font-size: 20px;text-align: center;
                    i{
                        font-size: 20px;margin-right: 20px;
                    }
                }
            }
        }
    }
    .wrng{
        background-color:  #F6F6F6;padding: 30px 0 30px 0;
        h2{
            text-align: center;padding-bottom: 20px;
        }
        p{
            text-align: center;padding-bottom: 20px;
        }
    }
}


@media screen and (min-width:768px) {
    .contact{
        h2{
          font-size: 40px;
        }
        .container{
            .col-md-6{
                .img{
                    height: 30vh;
                  
                }
                .inner2{
                    height: 30vh;padding: 40px 0 0 10px;
                    
                  
                    h3{
                        font-size: 30px;text-align: left;
                    }
                    p{
                        font-size: 22px;text-align: left;
                        i{
                            font-size: 20px;margin-right: 15px;
                        }
                    }
                }
            }
        }
        .wrng{
            
            h2{
                font-size: 30px;
            }
            p{
               font-size: 25px;
            }
        }
    }
}


@media screen and (min-width:1024px) {
    .contact{
        height: 90vh;
        h2{
          font-size: 40px;padding-bottom: 30px;
        }
        .container{
            .col-md-6{
                .img{
                    height: 40vh;
                }
                .inner2{
                    height: 30vh;
                                      
                    h3{
                        font-size: 35px;
                    }
                    p{
                        font-size: 22px;
                        i{
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        .wrng{
            margin-top: 30px;
            h2{
                font-size: 30px;
            }
            p{
               font-size: 25px;
            }
        }
    }
}



@media screen and (min-width:1200px) {
    .contact{
        height: 100vh;
        h2{
          font-size: 50px;padding-bottom: 40px;
        }
        .container{
            .col-md-6{
                .img{
                    height: 50vh;
                }
                .inner2{
                   
                    height: 50vh;padding: 80px 0 0 40px;
                                      
                    h3{
                        font-size: 40px;
                    }
                    p{
                        font-size: 25px;display: flex;align-items: center;
                        i{
                            font-size: 50px;
                        }
                    }
                }
            }
        }

        .wrng{
            margin-top: 30px;
            h2{
                font-size: 50px;
            }
            p{
               font-size: 25px;
            }
        }
    }
}