.plan{
    padding: 30px 0 30px 0;
    .container{
        text-align: center;
        p{
            font-size: 20px;padding-bottom: 20px;text-transform: capitalize;
        }
        h2{
            font-size: 30px;text-transform: capitalize;padding-bottom: 30px;
            span{color: #FECC18 ;}
        }
        .row{
            .col-md-4{
                .inner{
                    display: flex;flex-direction: column;align-items: center;justify-content: center;
                    .icon{
                        img{width: 100%;height: 100%;object-fit: cover;}
                    }
                    h3{
                        font-size: 22px;font-weight: bold;text-transform: capitalize;padding-bottom: 30px;
                    }
                    p{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}


@media screen and (min-width:1200px) {
    .plan{
        height: 50vh;
    }
}