.save{
    display: flex;position: relative;;
    .red{
        background-color: #FF0000;width: 40%;height: 30vh;
      .inner{
          position: absolute;top: 50px;left: 10px;width: 60%;
        h2{
            color: #fff;font-size: 22px;font-family: 'Raleway', sans-serif;
            padding-bottom: 15px;text-transform: capitalize;
        }
        p{
            color: #fff;font-size: 16px;font-family: 'Raleway', sans-serif;
        }
      }
    }
    .big{
        width: 60%;background-image: url('/img/tatenda-mapigoti-CtqY0-G72qg-unsplash\ 2.png');
        background-position: center;background-size: cover;
        button{
            height: 35px;font-family: 'Raleway', sans-serif;outline: none;background-color: #FF0000;
            border-radius: 5px;border: none;position: absolute;right: -25px;color: #fff;top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}


@media screen and(min-width:768px) {
    .save{
        .red{
          .inner{
              position: absolute;top: 100px;left: 50px;width: 60%;
            h2{
             font-size: 30px;
            }
            p{
                font-size: 20px;
            }
          }
        }
        .big{
            button{
                height: 50px;width: 180px;right: -15px;top: 50%;font-size: 20px;
            }
        }
    }
}


@media screen and(min-width: 1024px) {
    .save{
      
        .red{
          .inner{
            top: 60px;left: 50px;
            h2{
             font-size: 35px;
            }
            p{
                font-size: 25px;
            }
          }
        }
        .big{
            button{
                height: 50px;width: 180px;right: -15px;top: 50%;font-size: 20px;
            }
        }
    }
}


@media screen and (min-width:1200px) {
    .save{
        height: 50vh;
        .red{
            height: 50vh;
            .inner{
                top: 130px;
            }
        }
    }
}