html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Raleway', sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  height: 10vh;
  overflow: hidden;
}

nav .logo-sm {
  display: none;
}

nav ul {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul .logo {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 200px;
}

nav ul .logo a img {
  width: 100%;
  height: 100%;
}

nav ul li a {
  color: #f70000;
  display: inline-block;
  padding: 1em 1.7em;
  font-size: 25px;
  text-transform: capitalize;
  text-decoration: none;
  border-bottom: 2px solid #fff;
  -webkit-transition-property: all .2s linear 0s;
  transition-property: all .2s linear 0s;
}

nav ul li a:hover {
  color: #FECC18;
}

/*styling open close button*/
.button {
  display: none;
}

.button a {
  text-decoration: none;
}

.button .btn-open:after {
  color: #333;
  content: "\f0c9";
  font-family: "FontAwesome";
  -webkit-transition-property: all .2s linear 0s;
  transition-property: all .2s linear 0s;
}

.button .btn-close:after {
  color: #fff;
  content: "\f00d";
  font-family: "FontAwesome";
  -webkit-transition-property: all .2s linear 0s;
  transition-property: all .2s linear 0s;
}

.button .btn-close:hover:after {
  color: red;
}

/*overlay*/
.overlay {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: #333;
  overflow: auto;
  z-index: 99;
}

.wrap {
  color: #e9e9e9;
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}

.wrap ul.wrap-nav {
  border-bottom: 1px solid #575757;
  text-transform: capitalize;
  padding: 150px 0px 100px;
}

.wrap ul.wrap-nav li {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
  width: 24%;
  position: relative;
}

.wrap ul.wrap-nav li a {
  color: #ffffff;
  display: block;
  padding: 8px 0;
  text-decoration: none;
  -webkit-transition-property: all .2s linear 0s;
  transition-property: all .2s linear 0s;
}

.wrap ul.wrap-nav li a:hover {
  color: #FECC18;
}

.wrap ul.wrap-nav ul {
  padding: 20px 0;
}

.wrap ul.wrap-nav ul li {
  display: block;
  font-size: 13px;
  width: 100%;
  color: #e9e9e9;
}

.wrap ul.wrap-nav ul li a {
  color: #f0f0f0;
}

.wrap ul.wrap-nav ul li a:hover {
  color: #34B484;
}

.social {
  font-size: 25px;
  padding: 20px;
}

.social a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}

@media screen and (min-width: 1024px) and (max-width: 1024px) {
  #kuni {
    display: none;
  }
  nav .logo-sm {
    display: none;
  }
  nav ul .logo {
    padding-right: 10px;
  }
  nav ul li a {
    font-size: 20px;
  }
}

@media screen and (max-width: 48em) {
  #kuni {
    display: none;
  }
  nav .logo-sm {
    display: list-item;
    list-style: none;
  }
  nav .logo-sm a {
    height: 10vh;
    width: 30vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .logo-sm a img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .button {
    display: list-item;
    display: inline;
    position: absolute;
    right: 50px;
    top: 20px;
    z-index: 999;
    font-size: 30px;
  }
  .wrap ul.wrap-nav > li {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #575757;
  }
  .wrap ul.wrap-nav {
    padding: 30px 0px 0px;
  }
  nav ul {
    opacity: 0;
    visibility: hidden;
  }
  .social {
    color: #c1c1c1;
    font-size: 25px;
    padding: 15px 0;
  }
}

.banner {
  height: 50vh;
  position: relative;
}

.banner #myVideo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner .content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner .content h1 span {
  color: #FECC18;
}

.banner #myBtn {
  width: 90px;
  height: 90px;
  font-size: 18px;
  padding: 10px;
  border-radius: 100%;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.banner #myBtn:hover {
  background: #ddd;
  color: black;
}

@media screen and (min-width: 768px) {
  .banner {
    height: 50vh;
  }
  .banner h1 {
    font-size: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    height: 70vh;
  }
  .banner h1 {
    font-size: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .banner {
    height: 90vh;
  }
  .banner h1 {
    font-size: 90px;
  }
}

.services {
  padding-top: 20px;
}

.services h2 {
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 20px;
}

.services h2 span {
  color: #FECC18;
}

.services .container .row .col-md-3 .card {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.services .container .row .col-md-3 .card img {
  height: 190px;
}

.services .container .row .col-md-3 .card .card-body {
  background-color: #FF0000;
  color: #fff;
}

.services .container .row .col-md-3 .card .card-body h4 {
  font-size: 25px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .services {
    height: 50vh;
  }
  .services h2 {
    font-size: 30px;
  }
  .services .container .row .col-md-3 .card {
    width: 100%;
  }
  .services .container .row .col-md-3 .card img {
    height: 130px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .services .container .row .col-md-3 .card .card-body h4 {
    font-size: 25px;
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .services {
    height: 70vh;
    padding-top: 30px;
  }
  .services h2 {
    font-size: 40px;
    padding-bottom: 30px;
  }
  .services .container .row .col-md-3 .card {
    width: 100%;
  }
  .services .container .row .col-md-3 .card img {
    height: 130px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .services .container .row .col-md-3 .card .card-body h4 {
    font-size: 25px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .services {
    height: 90vh;
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services h2 {
    font-size: 50px;
    padding-bottom: 80px;
  }
  .services .container .row .col-md-3 .card {
    width: 100%;
  }
  .services .container .row .col-md-3 .card img {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .services .container .row .col-md-3 .card .card-body {
    height: 230px;
    padding-top: 30px;
  }
  .services .container .row .col-md-3 .card .card-body h4 {
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
  }
}

.ourvehicle .container p {
  font-size: 20px;
  text-transform: capitalize;
  padding-bottom: 10px;
}

.ourvehicle .container h2 {
  font-size: 30px;
  text-transform: capitalize;
  padding-bottom: 20px;
}

.ourvehicle .container h2 span {
  color: #FECC18;
}

.ourvehicle .container .card {
  margin: 0 auto;
  background: #E5E5E5;
  margin-bottom: 30px;
}

.ourvehicle .container .card .card-body {
  background-color: #fff;
}

.ourvehicle .container .card .card-body h5 {
  font-weight: bold;
  font-size: 22px;
}

.ourvehicle .container .card .card-body .card-text {
  font-weight: bold;
}

.ourvehicle .container .card .card-body .card-text span {
  font-weight: lighter;
}

.ourvehicle .container .card .card-body .btn {
  background: #FF0000;
  border-radius: 5px;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .ourvehicle .container p {
    font-size: 20px;
    text-transform: capitalize;
    padding-bottom: 10px;
  }
  .ourvehicle .container h2 {
    font-size: 30px;
    text-transform: capitalize;
    padding-bottom: 20px;
  }
  .ourvehicle .container h2 span {
    color: #FECC18;
  }
  .ourvehicle .container .row .card {
    width: 100%;
  }
  .ourvehicle .container .row .card .card-body h5 {
    font-size: 22px;
  }
  .ourvehicle .container .row .card .card-body .card-text {
    font-size: 20px;
  }
  .ourvehicle .container .row .card .card-body .btn {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .ourvehicle {
    height: 100vh;
    background-color: #E5E5E5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ourvehicle .container p {
    font-size: 30px;
  }
  .ourvehicle .container h2 {
    font-size: 50px;
  }
  .ourvehicle .container .row .card .card-body {
    height: 250px;
  }
  .ourvehicle .container .row .card .card-body .card-text {
    padding-bottom: 20px;
  }
  .ourvehicle .container .row .card .card-body .btn {
    width: 50%;
    margin-left: 50%;
    -webkit-transform: translate(-50%, 30%);
            transform: translate(-50%, 30%);
  }
}

.welcome .container .inner {
  padding-bottom: 25px;
}

.welcome .container .inner h2 {
  font-size: 30px;
  padding-bottom: 10px;
  text-transform: capitalize;
  padding-top: 10px;
}

.welcome .container .inner h2 span {
  color: #FECC18;
}

.welcome .container .inner p {
  font-size: 20px;
  text-transform: capitalize;
}

.welcome .container .inner-2 {
  height: 30%;
}

.welcome .container .inner-2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.welcome .container .row .col-md-3 .inner {
  text-align: center;
  padding-top: 20px;
}

.welcome .container .row .col-md-3 .inner h4 {
  font-size: 25px;
  font-weight: bolder;
  text-transform: capitalize;
  padding-bottom: 10px;
}

.welcome .container .row .col-md-3 .inner p {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .welcome {
    padding-bottom: 50px;
  }
  .welcome .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .welcome .container .inner {
    width: 45%;
  }
  .welcome .container .inner h2 {
    font-size: 35px;
  }
  .welcome .container .inner p {
    font-size: 22px;
  }
  .welcome .container .inner-2 {
    height: 40%;
    width: 50%;
    margin-top: 35px;
  }
  .welcome .container .inner-2 img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .welcome .container .row .col-md-3 .inner {
    width: 100%;
  }
  .welcome .container .row .col-md-3 .inner h4 {
    font-size: 25px;
    font-weight: bolder;
    text-transform: capitalize;
    padding-bottom: 10px;
  }
  .welcome .container .row .col-md-3 .inner p {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .welcome {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .welcome .container .row {
    margin-top: 90px;
  }
}

.brands .container .row {
  padding-bottom: 40px;
}

.brands .container .row .col-md-7 .inner {
  width: 80%;
}

.brands .container .row .col-md-7 .inner img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.brands .container .row .col-md-5 .inner h3 {
  position: relative;
  padding-left: 10px;
  font-size: 30px;
  color: #FF0000;
  font-weight: bold;
}

.brands .container .row .col-md-5 .inner h3 span {
  position: absolute;
  top: -5px;
  left: -5px;
}

.brands .container .row .col-md-5 .inner #day {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.brands .container .row .col-md-5 .inner p {
  padding-top: 10px;
  text-transform: uppercase;
}

.brands .container .row .col-md-5 .inner .bok {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brands .container .row .col-md-5 .inner .bok a {
  background-color: #FF0000;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

.brands .container .logs {
  background-color: #E5E5E5;
}

.brands .container .logs .row .col-md-4 .inner {
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .brands .container .row .col-md-7 .inner {
    width: 100%;
  }
  .brands .container .row .col-md-5 .inner {
    width: 100%;
  }
  .brands .container .row .col-md-5 .inner h3 {
    padding-left: 20px;
    font-size: 40px;
  }
  .brands .container .row .col-md-5 .inner p {
    font-size: 20px;
  }
  .brands .container .row .col-md-5 .inner .bok {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .brands .container .row .col-md-5 .inner .bok a {
    background-color: #FF0000;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
  }
  .brands .container .logs .row .col-md-4 .inner {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .brands .container .logs .row .col-md-4 .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.plan {
  padding: 30px 0 30px 0;
}

.plan .container {
  text-align: center;
}

.plan .container p {
  font-size: 20px;
  padding-bottom: 20px;
  text-transform: capitalize;
}

.plan .container h2 {
  font-size: 30px;
  text-transform: capitalize;
  padding-bottom: 30px;
}

.plan .container h2 span {
  color: #FECC18;
}

.plan .container .row .col-md-4 .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.plan .container .row .col-md-4 .inner .icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.plan .container .row .col-md-4 .inner h3 {
  font-size: 22px;
  font-weight: bold;
  text-transform: capitalize;
  padding-bottom: 30px;
}

.plan .container .row .col-md-4 .inner p {
  font-size: 18px;
}

@media screen and (min-width: 1200px) {
  .plan {
    height: 50vh;
  }
}

.save {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.save .red {
  background-color: #FF0000;
  width: 40%;
  height: 30vh;
}

.save .red .inner {
  position: absolute;
  top: 50px;
  left: 10px;
  width: 60%;
}

.save .red .inner h2 {
  color: #fff;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 15px;
  text-transform: capitalize;
}

.save .red .inner p {
  color: #fff;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.save .big {
  width: 60%;
  background-image: url("/img/tatenda-mapigoti-CtqY0-G72qg-unsplash 2.png");
  background-position: center;
  background-size: cover;
}

.save .big button {
  height: 35px;
  font-family: 'Raleway', sans-serif;
  outline: none;
  background-color: #FF0000;
  border-radius: 5px;
  border: none;
  position: absolute;
  right: -25px;
  color: #fff;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .save .red .inner {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 60%;
  }
  .save .red .inner h2 {
    font-size: 30px;
  }
  .save .red .inner p {
    font-size: 20px;
  }
  .save .big button {
    height: 50px;
    width: 180px;
    right: -15px;
    top: 50%;
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .save .red .inner {
    top: 60px;
    left: 50px;
  }
  .save .red .inner h2 {
    font-size: 35px;
  }
  .save .red .inner p {
    font-size: 25px;
  }
  .save .big button {
    height: 50px;
    width: 180px;
    right: -15px;
    top: 50%;
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .save {
    height: 50vh;
  }
  .save .red {
    height: 50vh;
  }
  .save .red .inner {
    top: 130px;
  }
}

.subscribe {
  background-color: #E5E5E5;
  height: 35vh;
  padding-top: 30px;
}

.subscribe .container {
  text-align: center;
}

.subscribe .container h2 {
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 10px;
}

.subscribe .container h2 span {
  color: #FECC18;
}

.subscribe .container p {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 20px;
}

.subscribe .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe .container form #mail {
  height: 30px;
  outline: none;
  border: none;
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  border-radius: 5px 0px 0px 5px;
  padding-left: 10px;
}

.subscribe .container form #submit {
  height: 30px;
  outline: none;
  border: none;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  background: #FF0000;
  border-radius: 5px;
  width: 25%;
}

@media screen and (min-width: 768px) {
  .subscribe {
    height: 20vh;
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscribe .container h2 {
    font-size: 40px;
    padding-bottom: 15px;
  }
  .subscribe .container p {
    font-size: 20px;
  }
  .subscribe .container form #mail {
    height: 45px;
    padding-left: 15px;
    font-size: 20px;
    width: 40%;
  }
  .subscribe .container form #submit {
    height: 45px;
    width: 20%;
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .subscribe {
    height: 30vh;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    height: 50vh;
  }
}

footer .container .col-md-3 .inner-log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

footer .container .col-md-3 .inner-log .log img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

footer .container .col-md-3 .inner-log .links a {
  background-color: black;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
}

footer .container .col-md-3 .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 20px 0;
}

footer .container .col-md-3 .inner h3 {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  text-transform: capitalize;
  padding-bottom: 30px;
}

footer .container .col-md-3 .inner p {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  text-transform: capitalize;
  padding-bottom: 10px;
}

footer .container .col-md-3 .inner p span {
  display: block;
  text-align: center;
}

footer .container .col-md-3 .inner a {
  font-family: 'Raleway', sans-serif;
  padding-bottom: 10px;
  text-transform: capitalize;
  color: #000;
  text-decoration: none;
}

footer .container .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 10px 0;
  border: 2px solid #FECC18;
}

footer .container .copyright p {
  font-family: 'Raleway', sans-serif;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  footer .container .col-md-3 .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0 20px 0;
  }
  footer .container .col-md-3 .inner h3 {
    font-size: 25px;
  }
  footer .container .copyright {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10px;
  }
}

@media screen and (min-width: 1200px) {
  footer {
    height: 50vh;
    padding-top: 60px;
  }
}

.policy {
  background: #F6F6F6;
  padding: 20px 0 20px 0;
}

.policy h2 {
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 30px;
}

.policy h2 span {
  color: #FECC18;
}

.policy .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.policy .container .inner {
  height: 30vh;
  margin-bottom: 20px;
}

.policy .container .inner h3 {
  font-size: 25px;
  text-transform: capitalize;
}

.policy .container .inner ol li {
  list-style: decimal;
}

.policy .container .inner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .policy h2 {
    font-size: 30px;
  }
  .policy .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .policy .container .inner {
    height: 25vh;
    width: 50%;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .policy .container .inner h3 {
    font-size: 25px;
    padding-bottom: 10px;
  }
  .policy .container .inner ol li {
    list-style: decimal;
  }
  .policy .container .inner #for {
    padding-left: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .policy {
    padding: 30px 0 40px 0;
  }
  .policy h2 {
    font-size: 50px;
  }
  .policy .container .inner {
    height: 40vh;
    width: 50%;
  }
  .policy .container .inner h3 {
    font-size: 30px;
  }
  .policy .container .inner ol li {
    font-size: 24px;
  }
  .policy .container .inner #for {
    padding-left: 30px;
  }
}

.contact h2 {
  text-align: center;
  font-size: 30px;
  text-transform: capitalize;
}

.contact h2 span {
  color: #FECC18;
}

.contact .container .col-md-6 .img {
  height: 50vh;
}

.contact .container .col-md-6 .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contact .container .col-md-6 .inner2 h3 {
  font-size: 25px;
  padding-bottom: 20px;
  text-transform: capitalize;
  text-align: center;
}

.contact .container .col-md-6 .inner2 p {
  padding-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

.contact .container .col-md-6 .inner2 p i {
  font-size: 20px;
  margin-right: 20px;
}

.contact .wrng {
  background-color: #F6F6F6;
  padding: 30px 0 30px 0;
}

.contact .wrng h2 {
  text-align: center;
  padding-bottom: 20px;
}

.contact .wrng p {
  text-align: center;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .contact h2 {
    font-size: 40px;
  }
  .contact .container .col-md-6 .img {
    height: 30vh;
  }
  .contact .container .col-md-6 .inner2 {
    height: 30vh;
    padding: 40px 0 0 10px;
  }
  .contact .container .col-md-6 .inner2 h3 {
    font-size: 30px;
    text-align: left;
  }
  .contact .container .col-md-6 .inner2 p {
    font-size: 22px;
    text-align: left;
  }
  .contact .container .col-md-6 .inner2 p i {
    font-size: 20px;
    margin-right: 15px;
  }
  .contact .wrng h2 {
    font-size: 30px;
  }
  .contact .wrng p {
    font-size: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .contact {
    height: 90vh;
  }
  .contact h2 {
    font-size: 40px;
    padding-bottom: 30px;
  }
  .contact .container .col-md-6 .img {
    height: 40vh;
  }
  .contact .container .col-md-6 .inner2 {
    height: 30vh;
  }
  .contact .container .col-md-6 .inner2 h3 {
    font-size: 35px;
  }
  .contact .container .col-md-6 .inner2 p {
    font-size: 22px;
  }
  .contact .container .col-md-6 .inner2 p i {
    font-size: 20px;
  }
  .contact .wrng {
    margin-top: 30px;
  }
  .contact .wrng h2 {
    font-size: 30px;
  }
  .contact .wrng p {
    font-size: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    height: 100vh;
  }
  .contact h2 {
    font-size: 50px;
    padding-bottom: 40px;
  }
  .contact .container .col-md-6 .img {
    height: 50vh;
  }
  .contact .container .col-md-6 .inner2 {
    height: 50vh;
    padding: 80px 0 0 40px;
  }
  .contact .container .col-md-6 .inner2 h3 {
    font-size: 40px;
  }
  .contact .container .col-md-6 .inner2 p {
    font-size: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .container .col-md-6 .inner2 p i {
    font-size: 50px;
  }
  .contact .wrng {
    margin-top: 30px;
  }
  .contact .wrng h2 {
    font-size: 50px;
  }
  .contact .wrng p {
    font-size: 25px;
  }
}

.faq h2 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 40px;
  }
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 50px;
  }
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 70px;
  }
}

.section {
  position: relative;
  height: 100vh;
}

.form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section .section-center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#booking {
  font-family: 'Montserrat', sans-serif;
  background-image: url("/img/booking.png");
  background-size: cover;
  background-position: center bottom;
}

#booking::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #0000006e;
}

.booking-form {
  background-color: #D9D9D999;
  padding: 50px 20px;
  -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.booking-form .form-group {
  position: relative;
  margin-bottom: 30px;
}

.booking-form .form-control {
  background-color: #ebecee;
  border-radius: 4px;
  border: none;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #3e485c;
  font-size: 14px;
}

.booking-form .form-control::-webkit-input-placeholder {
  color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control:-ms-input-placeholder {
  color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control::-ms-input-placeholder {
  color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control::placeholder {
  color: rgba(62, 72, 92, 0.3);
}

.booking-form input[type="date"].form-control:invalid {
  color: rgba(62, 72, 92, 0.3);
}

.booking-form select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.booking-form select.form-control + .select-arrow {
  position: absolute;
  right: 0px;
  bottom: 4px;
  width: 32px;
  line-height: 32px;
  height: 32px;
  text-align: center;
  pointer-events: none;
  color: rgba(62, 72, 92, 0.3);
  font-size: 14px;
}

.booking-form select.form-control + .select-arrow:after {
  content: '\279C';
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.booking-form .form-label {
  display: inline-block;
  color: #3e485c;
  font-weight: 700;
  margin-bottom: 6px;
  margin-left: 7px;
}

.booking-form .submit-btn {
  display: inline-block;
  color: #fff;
  background-color: #FF0000;
  font-weight: 700;
  padding: 14px 30px;
  border-radius: 4px;
  border: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
  opacity: 0.9;
}

.booking-cta {
  margin-top: 80px;
  margin-bottom: 30px;
}

.booking-cta h3 {
  font-size: 30px;
  color: #fff;
  padding: 20px 0 20px 0;
}

.booking-cta .cul {
  padding-bottom: 10px;
}

.booking-cta .cul span {
  padding-left: 20px;
}

.booking-cta h1 {
  font-size: 52px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}

.booking-cta p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}
/*# sourceMappingURL=style.css.map */